@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

.App {
  text-align: center;
  height: 100vh;
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3C4856;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.sketch-highlight{
  position:relative;
  padding: 0 5px;
}

.sketch-highlight:before{
  content:"";
  z-index:1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:#a1bee1;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.5;
  border-radius:0.25em;
}

.sketch-highlight:after{
  content:"";
  z-index:1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:#a1bee1;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.5;
  border-radius:0.25em;
}

.sketch-highlight-subtitle{
  position:relative;
  padding: 0 5px;
}

.sketch-highlight-subtitle:before{
  content:"";
  z-index:1;
  left:0em;
  top:0em;
  border-width:1px;
  border-style:solid;
  border-color:#a1bee1;
  position:absolute;
  border-right-color:transparent;
  border-left-color:transparent;
  border-top-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.5;
}

.sketch-highlight-subtitle:after{
  content:"";
  z-index:1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:#a1bee1;
  border-right-color:transparent;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.5;
}

.media-card {
  position:relative;
  z-index: 9;
}

.media-card:before{
  content:"";
  z-index:-1;
  left:1em;
  top:0em;
  border-width:1px;
  border-style:solid;
  border-color:#a1bee1;
  border-bottom-color: transparent;
  border-radius: 0.39em;
  position:absolute;
  width:100%;
  height: 100%;
  transform:rotate(4deg);
  opacity:0.5;
}

.media-card:after{
  content:"";
  z-index:-2;
  left:0em;
  top:1em;
  border-width:2px;
  border-style:solid;
  border-color:#a1bee1;
  border-right-color: transparent;
  border-radius: 0.39em;
  position:absolute;
  width:100%;
  height: 100%;
  transform:rotate(-2deg);
  opacity:0.5;
}